@model JieNuo.Data.PagedData<hkkf.Models.Shop>

@{
    ViewBag.Title = "店铺管理";
    Layout = "~/Areas/Finance/Views/Shared/_FinanceSite.cshtml";
}

<script type="text/javascript">
    $(function () {
        batchMsg("deleteBtn");
        $("#deleteBtn").click(function () {
            $("#subAction").attr("value", "delete");
        });
    });
 </script>


@Html.NavigationBar("店铺信息", " 店铺管理")
@using (Ajax.JQueryBeginForm("ShopIndex", "Home", new JQueryOptions { UpdateTarget = "#main" }))
 
{
    @Html.Hidden("subAction", "", new { id = "subAction" })
    <div class="alertMessageContainer" >@ViewBag.message</div>
    <table class="conditionTable infoTable">
        <tr>
            <th>
                店铺名：
            </th>
            <td style="width: 220px;">@Html.TextBox("Name", null, new { id = "Name" })
            </td>
            <td style="width: 220px;">@Html.ActionSubmitButton("queryBtn", "查询", new { id = "queryBtn", @class = "button" })
            </td>
        </tr>
    </table>
   
  
  <div class="grid">
    <table class="dataTable">
    <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameForSerialNum() </th>        
                <th>店铺名</th>            
                <th>联系人</th>                 
                <th>联系电话 </th> 
                <th>所属类别</th>   
            </tr>
        </thead>
        <tbody> 
            @{
                
    int i = Model.Pager.FristDataPos;  
               
  
    }
    @foreach (var item in Model)
    {
<tr>
 <td>@Html.CheckBoxButton(item.ID)</td>
<td>@(i++) </td>
<td>@Html.DisplayValueFor(item, it => it.Name)</td>
<td>@Html.DisplayValueFor(item, it => it.ContractPerson)</td>
<td>@Html.DisplayValueFor(item, it => it.Tel)</td>
    <td>@Html.DisplayValueFor(item, it => it.Type)</td>
    
    
 
</tr>
    }
</tbody>
</table>
@Html.Pager(Model.Pager)
</div>
    
}


