@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Serialization
@using DocumentFormat.OpenXml.Spreadsheet
@using hkkf.Models
@using hkkf.Repositories
@model JieNuo.Data.PagedData<hkkf.Models.PBDateTemplet>
@{
    ViewBag.Title = "排班管理";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
    
}
<script type="text/javascript">
    $(function () {
        $("#querySave").click(function () {
            $("#subAction").attr("value", "save");
        });
    });
 </script>

@Html.NavigationBar("排班信息", " 排班分配管理")
@using (Ajax.JQueryBeginForm("PaiBanByDateIndex", "PaiBan", new JQueryOptions { UpdateTarget = "#main" }))
{ 
    @Html.Hidden("subAction", "", new { id = "subAction" })
    <div class="alertMessageContainer">@ViewBag.message</div>
    <table class="conditionTable infoTable">
        <tr>
             <th>
                班组名：
            </th>
            <td>@Html.TextBox("ShopTempletName", ViewData["ShopTempletName"], new { id = "ShopTempletName" })
            </td>
            <th>
                安排时间：从
            </th>
            <td>
             @Html.ValueBox(typeof(DateTime), "startDate", ViewData["startDate"], new { id = "startDate" })  
            </td>
            <th>
                至
            </th>
            <td>
               @Html.ValueBox(typeof(DateTime), "endDate", ViewData["endDate"], new { id = "endDate" })  
            </td>
            <td>
                @Html.ActionSubmitButton("queryBtn", "查询", new { id = "queryBtn", @class = "button" })
            </td>
        </tr>      
    </table>
       <div class="grid">
        <table class="dataTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameForSerialNum()
                    </th>
                      <th>
                         日期
                    </th>
                     <th>
                         周
                    </th>
                    <th>
                         部门
                    </th>
                     <th>
                         模板名称
                    </th>
                     <th>
                         班次
                    </th>        
                </tr>
            </thead>
            <tbody>
                @{               
    //取出这段时间的班组排班情况
    UserRepository userRepo = new UserRepository();
    int i = Model.Pager.FristDataPos;
                 }
                @foreach (var item in Model)
                {

                    List<User> listAllUser = userRepo.GetData(item._ShopTemplet._Kf_DepartMent.ID, Convert.ToInt32(UserEnmType.Person)).ToList();
                    List<User> listUser = new List<User>();
                    listUser.Clear();
                    foreach (var User in listAllUser)
                    {
                        listUser.Add(User);
                    }
                    
                    <tr>                     
                        <td>
                        @(i++)
                        </td>
                         <td>
                        @Html.Raw(item._UserWorkDate.WorkDate.Date.ToShortDateString())
                        </td>
                         <td>
                         @{
                    string weekstr = "";
                    switch (item._UserWorkDate.WorkDate.DayOfWeek)
                    {
                        case DayOfWeek.Monday: weekstr = "星期一"; break;
                        case DayOfWeek.Tuesday: weekstr = "星期二"; break;
                        case DayOfWeek.Wednesday: weekstr = "星期三"; break;
                        case DayOfWeek.Thursday: weekstr = "星期四"; break;
                        case DayOfWeek.Friday: weekstr = "星期五"; break;
                        case DayOfWeek.Saturday: weekstr = "星期六"; break;
                        case DayOfWeek.Sunday: weekstr = "星期日"; break;
                    }
                               @Html.Raw(weekstr)
                           }
                        </td>
                         <td>
                           @Html.Raw(item._ShopTemplet._Kf_DepartMent.ToString())
                        </td> 
                         <td>
                           @Html.Raw(item._ShopTemplet.ShopTempletName)
                        </td> 
                         <td>

                          @{//把班组取出来显示，这里的班组是从PersonShopGroupPBs表按时间中取出来的，客服也是从这里面取出来的
                    PersonShopGroupPBsRepository PersonShopGroupPBRepo = new PersonShopGroupPBsRepository();
                    List<PersonShopGroupPBs> listPersonShopGroupPBs = PersonShopGroupPBRepo.GetListPersonShopGroupPB(item._ShopTemplet._Kf_DepartMent, item._UserWorkDate);
                    List<PersonShopGroupPBs> listLocalPersonShopGroupPBs = listPersonShopGroupPBs.Where(it => it.WorkDayOrNight == DayOrNight.白班).ToList();
                           }
                           <table>
                           <tr>
                           <td>
                           白班
                           </td>
                           <td>
                                 <table>
                                 @{
                                        foreach (var PersonShopGroupPBs in listLocalPersonShopGroupPBs)
                                        { 
                                                               <tr>
                                                                <td>
                                                                  @Html.Raw(PersonShopGroupPBs._ShopGroups.ShopGroupName)
                                                                </td>                                       
                                                                <td>
                                                                  @Html.Raw(PersonShopGroupPBs._ShopGroups.ContentShops)
                                                                </td>
                                                                 <td>
                                                                  @Html.Raw(PersonShopGroupPBs._User.strUserName)
                                                                </td>
                                                              </tr>
                                            //生成没有排班的人员,去掉排班的，剩下的就是没有排班的
                                            listUser.Remove(PersonShopGroupPBs._User);
                                         }
                                }   
                                </table>    
                           </td>
                           </tr>
                           <tr>
                           <td>
                           晚班 
                           </td>
                           <td>
                                 <table>
                                 @{
                    listLocalPersonShopGroupPBs = listPersonShopGroupPBs.Where(it => it.WorkDayOrNight == DayOrNight.晚班).ToList();
                    foreach (var PersonShopGroupPBs in listLocalPersonShopGroupPBs)
                    { 
                                          <tr>
                                             <td>
                                              @Html.Raw(PersonShopGroupPBs._ShopGroups.ShopGroupName)
                                            </td>                                       
                                            <td>
                                              @Html.Raw(PersonShopGroupPBs._ShopGroups.ContentShops)
                                            </td>
                                             <td>
                                              @Html.Raw(PersonShopGroupPBs._User.strUserName)
                                            </td>
                                         </tr>
                        //生成没有排班的人员,去掉排班的，剩下的就是没有排班的
                        listUser.Remove(PersonShopGroupPBs._User);
                    }
                                }   
                                </table>    
                           </td>
                           </tr>
                           <tr>
                           <td>
                           休班
                           </td>
                           <td>
                             @{
                    if (listUser.Count == 0)
                    {
                                @Html.Raw("无");
                    }
                    else
                    {
                        string strUser = "";
                        Boolean l = false;
                        foreach (var user in listUser)
                        {
                            if (user.UserStateID == UserEnmState.全职)
                            {
                                strUser = strUser + user.userName + "|";
                                l = true;
                            }
                        }
                        if (l == true)
                        {
                            strUser = strUser.Substring(0, strUser.Length - 1);
                        }
                        if (strUser.IsNullOrEmpty())
                        {
                            strUser = "无";
                        }
                                @Html.Raw(strUser);
                    }                           
                         }
                           </td>
                           </tr>
                          <tr>
                           <td>
                           休班(兼)
                           </td>
                           <td>
                             @{
                                if (listUser.Count == 0)
                                {
                                            @Html.Raw("无");
                                }
                                else
                                {
                                    string strUser = "";
                                    Boolean l = false;
                                    foreach (var user in listUser)
                                    {
                                        if (user.UserStateID == UserEnmState.兼职)
                                        {
                                            strUser = strUser + user.userName + "|";
                                            l = true;
                                        }
                                    }
                                    if (l == true)
                                    {
                                        strUser = strUser.Substring(0, strUser.Length - 1);
                                    }
                                    if (strUser.IsNullOrEmpty())
                                    {
                                        strUser = "无";
                                    }
                                            @Html.Raw(strUser);
                                  }                           
                               }
                           </td>
                           </tr>
                           </table>                            
                        </td>         
                       </tr>      
                }                         
            </tbody>
        </table>
        @Html.Pager(Model.Pager)
  </div>
}

