@using DocumentFormat.OpenXml.Office.CustomUI
@using hkkf.Models
@model JieNuo.Data.PagedData<hkkf.Models.User>

@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
    
}

<script type="text/javascript">
    $(function () {
        batchMsg("deleteBtn");
        $("#deleteBtn").click(function () {
            $("#subAction").attr("value", "delete");
        });

       

    });
 </script>


@Html.NavigationBar("用户信息", " 用户管理")
@using (Ajax.JQueryBeginForm("UserIndex", "UserManage", new JQueryOptions { UpdateTarget = "#main" }))
 
{
    @Html.Hidden("subAction", "", new { id = "subAction" })
    <div class="alertMessageContainer" >@ViewBag.message</div>

    <table class="conditionTable infoTable">
        <tr>
            <th>
                姓名：
            </th>
            <td style="width: 220px;">@Html.TextBox("Name", null, new { id = "Name" })
            </td>
            <td style="width: 220px;">@Html.ActionSubmitButton("queryBtn", "查询", new { id = "queryBtn", @class = "button" })
            </td>
        </tr>
    </table>
   
     @Html.AllCheckButton() @Html.AllOtherButton() @Html.AllCancelButton()
       @Html.ActionLink("添加用户", "AddUser", "UserManage", null, new { target = "#main", @class = "button4" })
        
     @* @Html.ActionLink("删除用户", "DeleteUser", "UsersManage", null, new { target = "#main", @class = "button4" })*@
  
  <div class="grid">
    <table class="dataTable">
    <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameForSerialNum() </th>        
                <th>姓名</th>            
                <th>工号</th>     
                <th>用户名</th>                 
                <th>密码 </th>  
                <th>手机号</th>    
                 <th>个人QQ</th>      
                 <th>工作QQ</th>    
                 <th>工作QQ昵称</th>    
                 <th>工作QQ密码</th>    
                <th>邮箱号</th>   
                 <th>用户类别</th>        
                <th>用户等级</th> 
                <th>注册时间</th>  
                <th>部门</th> 
                <th>员工状态</th> 
                <th>操作</th>
            </tr>
        </thead>
        <tbody> 
            @{
                
    int i = Model.Pager.FristDataPos;  
               
  
    }
    @foreach (var item in Model)
    {
<tr>
 <td>@Html.CheckBoxButton(item.ID)</td>
<td>@(i++) </td>
    <td>@Html.DisplayValueFor(item, it => it.strUserName)</td>
       <td>@Html.DisplayValueFor(item, it => it.ID)</td>
    <td>@Html.DisplayValueFor(item, it => it.Name)</td>
 
    <td>@Html.DisplayValueFor(item, it => it.Password)</td>
    <td>@Html.DisplayValueFor(item, it => it.Tel)</td>
    <td>@Html.DisplayValueFor(item, it => it.PrivateQQ)</td>
    <td>@Html.DisplayValueFor(item, it => it.workQQ)</td>
    <td>@Html.DisplayValueFor(item, it => it.WorkQQName)</td>
    <td>@Html.DisplayValueFor(item, it => it.WorkQQPassword)</td>
    <td>@Html.DisplayValueFor(item, it => it.Email)</td>
    <td>@Html.DisplayValueFor(item, it => it.Type)</td>
  <td>@Html.DisplayValueFor(item, it => it.UserEnmLevel)</td>
    <td>@Html.DisplayValueFor(item, it => it.RegistrationTime)</td>
     <th>@Html.DisplayValueFor(item, it => it.DepartMent)</th> 
     <th>@Html.DisplayValueFor(item, it => it.UserStateID)</th> 
    <td>
        @{
            string iskf = ViewBag.iskf;
        }
        @if (item.Type.ID == 1 && iskf=="1")
        {
            @Html.ActionLink("分配店铺", "FenPei1", "UserManage", new { id = item.ID }, new { target = "#main", @class = "button4" })
           
        
            @Html.ActionLink("查看所拥有店铺", "FenPeiDetails", "Home", new { area = "Admin", Id = item.ID }, new { id = "lookDetails", title = "查看详细", @class = "button8" })
        }
        else if (item.Type.ID == 1 && iskf == "2")
        {
   @Html.ActionLink("排班", "FenPei", "UserManage", new { id = item.ID }, new { target = "#main", @class = "button4" })
        }
        else
        {
   @Html.ActionLink("修改", "AddUser", "UserManage", new {isedit=1, id = item.ID }, new { target = "#main", @class = "button4" })
        }
    </td>
 
</tr>
    }
</tbody>
</table>
@Html.Pager(Model.Pager)
</div>
    
}
